<ion-view view-title="Profile">
       <ion-content>
           <div class="list">
               <label class="item item-input item-stacked-label">
                   <span class="input-label">First Name</span>
                   <input type="text" placeholder="ex.Tilemachos" ng-model="$parent.fname" >
               </label>
               <label class="item item-input item-stacked-label">
                   <span class="input-label">Last Name</span>
                   <input id="surname" type="text" placeholder="ex.Petsopoulos" ng-model="$parent.surname">
               </label>
               <label class="item item-input item-stacked-label">
                   <span class="input-label">Email</span>
                   <input id="email" type="text" placeholder="ex.it213*@hua.gr" ng-model="$parent.email">
               </label>
               <label class="item item-input item-stacked-label">
                   <span class="input-label">Phone</span>
                   <input id="phone" type="text" placeholder="1234567890" ng-model="$parent.phone">
               </label>
           </div>
           <div class="Submit">
               <button class="button icon-right ion-chevron-right button-bar-stable"style="top:50%; left:50%;" ng-click="Submit()">Submit</button>
           </div>
       </ion-content>
   </ion-view>
