<ion-view view-title="Providers">
	<ion-content>
		<ion-item item-avatar class="item" ng-repeat="services in availbleServices" href="#/app/calendar"><icon src="#/img/ionic.png" width="60" height="60" />{{services.provider_name}} <p>category: {{services.category_name}},   provider_id: {{services.provider_id}},   price: {{providers.price}}, id: {{services.category_id}}</p></ion-item item-avatar>
	</ion-content>
</ion-view>

<!--<script src="testJson.js"></script>-->
<script src="ionic.png"></script>
