<ion-view view-title="Time">
  <ion-content>
    <!-- <ionic-timepicker   input-obj="timePickerObject" callback="timePickerCallback">
  <button class="button button-block button-positive overflowShow">
    <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
  </button> -->
  <ionic-timepicker input-obj="timePickerObject">
  <button class="button button-block button-positive overflowShow">
    <standard-time-meridian etime='timePickerObject.inputEpochTime'>Select Time:</standard-time-meridian>
  </button>
</ionic-timepicker>
</ionic-timepicker>
  </ion-content>
</ion-view>
